
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > section {
    max-width: 800px;
    width: 50%;
    height:85%;
    position: relative;
    margin: 4% auto;
    padding: 20px;
    border-radius: 3px;
    background: black;
    border: 1px solid rgba(161, 97, 35, 1) ;
    /* justify-content: center; */
    
    
}

.modalTitle{
      text-align: center;
      color: white;
      font-size: 24px;
      font-family: 'Crimson Text', serif;
}

.modalName{
    text-align: center;
    font-size: 27px;
    font-family: 'Cinzel Decorative', cursive;
    color:rgb(241, 204, 111);
}

.modalBlurb,.modalTags, p{
      color: white;
      font-family:'Roboto', sans-serif; 
      font-size: 15px;
}



.modalInfo{
    width: 45%;
    margin: auto;
    height: 3%;
    font-size: 25px;
    color:rgb(241, 204, 111);
    /* border: 1px solid rgb(207, 156, 26); */
    border-collapse: collapse;
    /* padding: 5px; */

}
.modalInfo  > th, td{
    /* border: 1px solid rgb(207, 156, 26); */
    /* padding: 5px; */
    text-align: center;
}



.close {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(207, 156, 26);;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}

.close:hover {
    background: #fa3f6f;
}



body {
background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Caitlyn_0.jpg");
width: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
background-color: black;
display: flex;
flex-direction: row;
flex-wrap: wrap;
/* font-family: 'Crimson Text', serif; */
/* flex-flow: row wrap; */

}

header{
    background: linear-gradient(to right,rgba(236, 187, 65, 0.932), rgba(245, 195, 70, 0.747), rgba(244, 189, 51, 0));
    height: 65px;
    width: 90%;
    font-size: 27px;
    position: fixed;
}

#lolIcon{
    height:65px;
    cursor: pointer;
    float:left;
}

.menu ul{
    float:left;
    margin-right: 20%;
    margin-top:7px;
}


.menu ul li{
    display: inline-block;
    line-height: 50px;
    margin:0 15px;  
}


.menu ul li a {
    padding:7px 13px;
    color:white;
    font-size: 25px;
    border-radius: 3px;
    font-family: 'Gelasio', serif;
    /* font-weight: bold; */
}

a.active, a:hover {
    background: rgba(207, 156, 26, 0);
    transition: .4s;
    
}

.checkBtn {
    font-size: 35px;
    color: black;
    float: right;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;

}



.championsMenu {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around; 
    /* box-sizing: border-box; */
    width: 100%;
    border: 4px solid rgb(207, 156, 26); 
    background-color: rgba(13, 18, 63, 0.644);
    /* border-color: 5px rgb(207, 156, 26); */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    /* position: absolute; */
    
}



.menu a:hover {
    color: #fff;
	text-shadow:
		0 0 8px rgb(0, 60, 255),
        0 0 10px rgba(0,178,255,1);
}

.downloadGame a:hover{
    background: rgba(13, 18, 63, 0.836);
    color: #ffffff;
    border: 5px solid  #d19703dc;
}

#logoLol {
    padding-left: 7%;
    height:420px;
    padding-bottom: 6%;
    margin-top: 15%;
}


.downloadGame a{
    background-color: rgb(0, 198, 226);
    color:black;
    justify-content: center;
    font-size: 19px;
    border: powderblue 5px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    text-decoration: black;
    padding: 2%;
    margin-left: 12%;
    margin-bottom: 15%;
    font-family: 'Crimson Text';
    font-weight: 600 ;
    display: block;
    width:40%;
}



select, input {
    background: none ;
    border: 3px solid #FFB800;
    box-sizing: border-box;
    /* margin: 0 20px; */
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color:  #FFB800; 
    /* margin-top: 12px;
    /* margin-left: 5%; 
    margin-bottom: 12px; */
    margin: 12px ;
  
}

#allRoles, #order{
    margin-left: 10%;
}


#search {
    display: inline-block;
    font-size: 20px;
    margin-left: 10%;
}

.searchGlass {
    color: #FFB800;
    display: inline;
    margin-left: 5px;
    /* width: 10%; */
}

.notFoundSearch{
    color :  #FFB800;
    justify-content: center;
    display: flex;
    margin: 12%;
}

.notFoundSearch > h2 {
    color: white;
    font-family: 'Cinzel Decorative', cursive;
}

.notFoundSearch > i {
    font-size: 50px;
}

footer{ 
    display: block;
    height: 30px;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: right;
    padding: 1em;
    
}

.page2-Champions{
    background-image: url(imagenes/wallpaperPag2.png);
}


.page3-Statistics{
    background-image: url(imagenes/vista3bg.png);
    
}

.page4-InfoAbout{
    background-image: url(imagenes/vista4bg.png);
    
}

#storage{
    display: flex; 
    height: auto;
    width: 100%;
    padding: 2.4%;
    /* margin: 1%; */
    /* justify-content: space-between; */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */

}

article{
    display:inline-flex;
    height: 273px; 
    width: 18%;
    /* width:18%; */
    margin: 1%;
    margin-right: 0;
    background: rgba(161, 97, 35, 1) ;
    color: rgb(241, 204, 111);
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.788);
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

.card{
    height: 250px; 
    width: 100%;
    /* width: 100%; */
    object-fit: cover;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

h3{
    background:rgba(161, 97, 35, 1);
    text-align: center;
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
}

article:hover{
    box-shadow: 
    0 0 15px rgb(73, 13, 112),
    0 0 15PX rgb(12, 14, 155); 
}

#modalContainer{
    position: absolute;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.modalImg{
    object-fit: cover;
    width: 100%;
    height: 60%;
    position: relative;
    z-index:1;
    align-items:center;   
}

.aboutLol{
    width:100%;
    margin-top:6%;
    display: flex;
    flex-direction: row;
}

.aboutLol>aside{
    background-color: rgba(13, 18, 63, 0.644);
    width:40%;
    justify-content: left;
    margin-left: 5%;
    padding: 1%;
}

aside > p{
    width: 90%;
    margin-left:5%; 
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: justify;
}

aside> h2{  
    width: 70%;
    margin-left:5%;
    color:rgb(253, 241, 241);
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25px;
}

iframe {
    width:40%;
    height: 425px;
    margin : 3.5%;
    margin-top: 5%;
    margin-left: 5%;
}

#imgMap{
    width: 40%;
    float:right;
    margin-right:5%;
}

#lolMap{
    width: 100%;
    margin-right:5%;
    /* float: left; */
    margin-right: 5%;
}

.minMax  {
    margin-top: 8%;
    margin: 150px auto;
    width:600px;

}


.tableMinMax{
    width: 100%;
    background-color: rgba(0, 2, 19, 0.692);
    text-align: left;
    border-collapse: collapse;

}

.tableMinMax >  tr, th , td {
    border: solid 3px rgba(161, 97, 35, 1);
    text-align: center;
    padding: 12px;
    height: 2%;
    width: 15%;
    margin: 3%;
    font-size: 18px;

}

.tableMinMax > tr,td{
    color:white;
}

.tableMinMax td > img{
    width:70px; 
}

.headerMinMax{
    color:  rgb(241, 204, 111);
}

caption {
    background-color: rgba(161, 98, 35, 0.473);
    padding: 1%;
    color: white;
    border-bottom: solid 5px rgba(161, 97, 35, 1);
    font-size:24px;
}

.tableNames{
    font-size: 18px;
    font-family: 'Cinzel Decorative', cursive;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{

    body {
        background-image: url(imagenes/CaitlynCel.png);
    }

    article{
        width: 30%;
        margin: 2% 5%;
    }
    
    .checkBtn {
        display: block;
    }

    header {
        background: black;
        width: 100%;
    }

    .checkBtn {
        color: white;
        font-size: 150%;
        margin-top: 1.5%;
    }

    .menu ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 50px;
        left: -100%;
        text-align: center;
        display: inline-block;
        transition: all .4s;
    }

    .menu ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .menu ul li a {
        font-size: 22px;
        text-transform: uppercase;
    }

    .menu a:hover, a.active , .checkBtn:hover {
        background: none;
        color:rgb(207, 156, 26);
        
    }

    #check:checked ~ul {
        left: 0;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }


    .logoLol, #logoLol{
        width: 90%;
        height: 60%;
        display:flex;
        flex-direction: column;
        margin-top: 30%;
        margin-left:4%;
    }

    .lolBtn, #lolIcon{
        width: 60px;
        height: 60px;
    }

    .downloadGame{
        display: flex;
        justify-content: center;
    }

    .championsMenu {
        display: flex;
        margin: 9%;
    }

    .notFoundSearch{
        font-size: 25px;
        margin: 35%;
    }

    .aboutLol>aside{
        background-color: rgba(13, 18, 63, 0.644);
        width:80%;
        height: 19%;
        justify-content: left;
        margin-left: 5%;
        margin: 10%;
        padding: auto;
    }
    aside > p, h2{
        font-size: 25px;
        margin: auto;
    }

    iframe {
        width: 630px; 
        height: 350px;
        justify-content: center;
        margin: 2%;
    }


   
    .modalBlurb,.modalTags, p{
        font-size: 18px;
  }
    
}

@media (min-width: 320px) and (max-width: 812px){
    
    body {
        background-image: url(imagenes/CaitlynCel.png);
    }

    article{
        width: 70%;
        margin: 2% 15%;
    }

    .checkBtn {
        display: block;
    }

    header {
        background: black;
        width: 100%;
        height:55px;
        position: fixed;
    }

    .championsMenu{
        margin-top: 18%;
       
    }
    .checkBtn {
        color: white;
        margin-top: 1.5%;
    }



    .menu ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 40px;
        left: -100%;
        text-align: center;
        display: inline-block;
        transition: all .4s;
    }

    .menu ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .menu ul li a {
        font-size: 25px;
    }

    .menu a:hover, a.active , .checkBtn:hover {
        background: none;
        color:rgb(207, 156, 26);
        
    }

    #check:checked ~ul {
        left: 0;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }

    .logoLol, #logoLol{
        width: 90%;
        height: 70%;
        display:flex;
        flex-direction: column;
        margin-top: 60%;
        margin-left:4%;
    }

    .lolBtn, #lolIcon{
        width: 50px;
        height: 48px;
    }
    .searchGlass {
        font-size: 25px;
    }
    #searchBar {
        display: flex;
        width: 130px;
        float: right;
    }

    .downloadGame a{
        margin-left: 27%;
        font-size: 15px;
        margin-bottom: 27%;
        width: 50%;
    }

    .notFoundSearch{
        font-size: 15px;
        margin: 39%;
    }

    .modalInfo{
        width: 45%;
        margin: 2%;
        height: 5%;
        padding: 5px;
        font-size: 12px;
        margin: auto;
        
    
    }
    .modalInfo > tr, td, th{
        /* border: 1px solid rgb(207, 156, 26); */
        padding: 2px;
        text-align: center;
        font-size: 15px;
        
        
    }

    .minMax {
      margin-top: 25%;
      margin-bottom: 3%;
    }

    .tableMinMax {
        width: 80%;
        margin: auto;
    }

    .aboutLol>aside{
        background-color: rgba(13, 18, 63, 0.644);
        width:70%;
        height: 25%;
        justify-content: left;
        margin: 15%;
    }
    aside > p{
        font-size: 12px;
        margin: auto;
    }

    aside > h2 {
        font-size: 14px;
    }

    iframe {
        width: 320px; 
        height: 180px;
        justify-content: center;
        /* margin: 8%; */
        margin-left: 7%;
        margin-bottom: 5%;
    }

    #imgMap {
        width: 60%;
        margin-right: 20%;
        padding-top: 8%;
        padding-bottom: 10%;
        flex-direction: column;
               
       
    }

    #imgMap > h3 {
        font-size: 12px;

    }
    
    #lolMap{
        width: 100%;
        /* margin-right:5%;
        /* float: left; */
        /* margin-right: 5%;  */
    }

    footer {
        display: flex;
        font-size: 13px;
        margin: 4%;
    }
    /* .modalInfo > tr > th{
        padding: 2px;
        text-align: center;
        
    } */

    
    .modalDialog > section {
        width: 90%;
        height:90%;
        margin-top: 10%;
    }

    .modalImg{
        width: 100%;
        height: 50%;
    }

   
}
