@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Caitlyn_0.jpg");
width: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
background-color: black;
/* max-width: 1500px; */
/*margin: auto; */

display: flex;
flex-direction: row;
flex-wrap: wrap;
/* flex-flow: row wrap; */

}

header{
    font-size: 27px;
    font-family: 'Crimson Pro', serif;
    width: 90%;
    padding: 10px;
    display: flex;
    /* justify-content: left; */
    align-items: center;
    flex-direction: row; /*coloca los elementos en fila*/
    flex-wrap: wrap; /*posiciona los elementos uno debajo de otro*/
    
}

.menu {
    background: linear-gradient(to right,rgba(236, 187, 65, 0.932), rgba(245, 195, 70, 0.767), rgba(244, 189, 51, 0));
    color:white;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-grow: 1;  
    background-size: 65% 200%;
    background-repeat: no-repeat;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    
}

.menu a:hover, .championsMenu a:hover, .hamburgerBtn:hover, .downloadGame:hover {
    color: #fff;
	text-shadow:
		0 0 8px rgb(0, 60, 255),
        0 0 10px rgba(0,178,255,1);
}

#logoLol {
    padding-left: 7%;
    height:420px;
    padding-bottom: 6%;
    margin-top: 10%;
}

#lolIcon{
    height:90px;
    cursor: pointer;
}

.championsMenu {
    display:flex; 
    text-align: center;
    color:white;
    font-size: 25px;
    justify-content: space-between;
    align-items:center;
    font-family: 'Crimson Text', serif;
    border-bottom: 3px solid rgb(207, 156, 26);

}

.downloadGame a{
   
    background-color: RGB(0, 198, 226);
    color:black;
    justify-content: center;
    font-size: 22px;
    border: powderblue 5px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    text-decoration: black;
    padding: 3%;
    margin-left: 12%;
    margin-bottom: 5%;
    font-family: 'Crimson Pro';
}



.championsMenu{
    width: 100%;
    background: transparent;
    display:flex; 
    text-align: center;
    color:white;
    font-size: 25px;
    justify-content: space-around;
    align-items:center;
    font-family: 'Crimson Text', serif;
    margin-left: 10%;
    margin-right: 10%;
    
}

.championsPage, #secondaryNav{
    width: 90%;
}




/* footer{
    background-color: transparent;
    display: block;
    color:white;
    font-size: 18px;
    text-align: left;
    align-items: flex-end;
    align-self: flex-end;
    flex-direction: column;
} */

footer{
    position: fixed;
    left: 0;
    bottom: 4%;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: right;
    padding-right: 3%;
}

.hamburgerBtn{
    display: none;
}


.page2-Champions{
    background-image: url(imagenes/senna.jpg);
    
}

.page3-Statistics{
    background-image: url(imagenes/samira.jpg);
    
}

.page4-InfoAbout{
    background-image: url(imagenes/lucian.jpg);
    
}

.championsMenuCel, #secondaryNavCel{
    display: none;
}





@media (min-width: 320px) and (max-width: 767px){

    body {
    background-image: url(imagenes/CaitlynCel.png);
    }

    .menu{
        background: black;    
    }

    .logoLol, #logoLol{
        width: 90%;
        height: 60%;
    }

    .lolBtn, #lolIcon{
        width: 40px;
        height: 40px;
    }

    /* .hamburgerBtn{
        display: block;
        justify-content: flex-end;
        display: flex;
    } */

    .menu, .hamburgerBtn{
        display: block;
        justify-content: flex-end;
        display: flex;
        text-align: right;
    }

    header{
        background-color: black;
        width: 100%;
    }

    .champions, .statistics, .about, .championsMenu, #secondaryNav{
        display: none;
    }

    .championsMenuCel, #secondaryNavCel{
        display: block;
    }

    

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body {
        background-image: url(imagenes/CaitlynTablet.png);

        background-color: black;
    }

    .logoLol, #logoLol{
        width: 90%;
        height: 60%;
        display: flex;
    }



}
